{% extends layout('grad') %}

{% block content %}
	{% set form = form("login")
		.redirect(request_get('redirect', '/profile'))
		.get() %}
	{{ form.open|raw }}
	<div class="grid slim center">
		<div class="row">
			<div class="column">
				<h1>Login</h1>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<fieldset>
					{{ form.fields.email.setPlaceholder("Email").input|raw }}
					{{ form.fields.password.setPlaceholder("Password").input|raw }}
				</fieldset>
			</div>
		</div>
		<div class="row">
			<div class="column">
				{{ form.actions|raw }}
			</div>
		</div>
		<span class="divider bt-white"></span>
		<a class="button warning bg-orange wide" href="/users/password/forgot">Forgot Password</a>
		<a class="button update bg-ucd wide" href="/join">Join UCanDance</a>
	</div>
	{{ form.close|raw }}
{% endblock %}
