{% extends layout('grad') %}

{% block content %}
	{{ asset_add("scripts.js", "finnito.module.members::js/jquery.min.js") }}
	<div class="slim center">
		
		{% set form = form("register")
			.options()
			.fields({
				"first_name": {
					"placeholder": "First Name",
				},
				"last_name": {
					"placeholder": "Last Name",
				},
				"email": {
					"placeholder": "Email",
				},
				"student": {},
				"student_number": {},
				"student_code": {},
				"birthday_dance": {},
				"birthday": {},
				"password": {
					"placeholder": "Password",
				},
			})
			.actions({"join": {"text":"Join", "type": "good"}})
			.redirect(request_get('redirect', '/profile'))
			.get() %}
		{{ form.open|raw }}

		<div class="grid">
			<div class="row">
				<div class="column">
					<h1>Join UCanDance!</h1>
					<h2>Basic Information</h2>
				</div>
			</div>
			<div class="row">
				<div class="column">
					<fieldset>
						{{ form.fields.first_name.input|raw }}
						{{ form.fields.last_name.input|raw }}
						{{ form.fields.email.input|raw }}
					</fieldset>
				</div>
			</div>
		</div>

		<div class="grid">
			<div class="row">
				<div class="column">
					<h2>Student</h2>
					<p>The UCSA requires this information for students.</p>
				</div>
				<div class="column small">
					{{ form.fields.student|raw }}
				</div>
			</div>
			<div class="row">
				<div class="column">
					<fieldset>
						{{ form.fields.student_number.input|raw }}
						{{ form.fields.student_code.input|raw }}
					</fieldset>
				</div>
			</div>
		</div>
		<div class="grid">
			<div class="row">
				<div class="column">
					<h2>Birthday Dance</h2>
					<p>An optional UCanDance tradition where the birthday-person has a quick-change dance with every dancer present.</p>
				</div>
				<div class="column small">
					{{ form.fields.birthday_dance|raw }}
				</div>
			</div>
			<div class="row">
				<div class="column">
					<fieldset>
						{{ form.fields.birthday.input|raw }}
					</fieldset>
				</div>
			</div>
		</div>
		<div class="grid">
			<div class="row">
				<div class="column">
					<h2>Password</h2>
				</div>
			</div>
			<div class="row">
				<div class="column">
					<fieldset>
						{{ form.fields.password.input|raw }}
					</fieldset>
				</div>
			</div>
			<div class="row">
				<div class="column">
					{{ form.actions|raw }}
				</div>
			</div>
		</div>
		{{ form.close|raw }}
	</div>
{% endblock %}
