{% set currentYearSignups = entries("members", "active_members")
	.currentYearSignupsByMonth() %}

{% set colours = [
	"#FFC312",
	"#C4E538",
	"#12CBC4",
	"#FDA7DF",
	"#ED4C67",
	"#F79F1F",
	"#A3CB38",
	"#1289A7",
	"#D980FA",
	"#B53471",
	"#EE5A24",
	"#009432",
	"#0652DD",
	"#9980FA",
	"#833471",
	"#EA2027",
	"#006266",
	"#1B1464",
	"#5758BB",
	"#6F1E51",

	"#FFC312",
	"#C4E538",
	"#12CBC4",
	"#FDA7DF",
	"#ED4C67",
	"#F79F1F",
	"#A3CB38",
	"#1289A7",
	"#D980FA",
	"#B53471",
	"#EE5A24",
	"#009432",
	"#0652DD",
	"#9980FA",
	"#833471",
	"#EA2027",
	"#006266",
	"#1B1464",
	"#5758BB",
	"#6F1E51",
] %}

{% set months = [
	"January",
	"February",
	"March",
	"April",
	"May",
	"June",
	"July",
	"August",
	"September",
	"October",
	"November",
	"December"
] %}

<canvas id="currentYearSignups" width="100" height="30"></canvas>
<script>
var loadCurrentYearSignups = function() {
	var ctx = document.getElementById("currentYearSignups").getContext('2d');
	var myChart = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: [
				{% for month in months %}"{{ month }}"{% if not loop.last %},{% endif %}{% endfor %}
			],
			datasets: [
				{
					label: "Monthly Sign-Ups",
					data: [
						{% for month in months %}
							{% if currentYearSignups[month] %}
								{{ currentYearSignups[month].numSignups }}
							{% else %}
								0
							{% endif %}
							{% if not loop.last %},{% endif %}
						{% endfor %}
					],
					backgroundColor: "{{ colours[1] }}",
					borderColor: "{{ colours[1] }}",
					borderWidth: 3,
				}
			]
		},
		options: {
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true
					}
				}]
			}
		}
	});
}
window.addEventListener("load", function() {
	loadCurrentYearSignups();
});
</script>