{% extends layout('admin') %}

{% block content %}
	{{ asset_add("styles.css", "finnito.module.members::css/style.css") }}
	{{ asset_add("scripts.js", "finnito.module.members::js/chart.min.js") }}

	<div class="container-fluid">
		<div class="card">
			{% set toBeDeleted = entries("members", "active_members")
				.membersToBeDeleted()
				.get() %}
			{% if toBeDeleted|length > 0 %}
				<div class="text alert">
					<h2>Members to be Deleted</h2>
					<p>The Members Module has detected that some inactive members need to be removed in-line with the Privacy Policy.</p>
					<div class="flex-row divided">
						<div>
							<p>Cutoff Date</p>
							<p>{{ toBeDeleted[0].cutoff }}
						</div>
						<div>
							<p># to be Deleted</p>
							<p>{{ toBeDeleted|length }}
						</div>
						<div>
							<a href="/admin/members/deleteOldMembers" class="btn btn-success" title="Delete Old Members"/>
								Delete
							</a>
						</div>
					</div>
				</div>
			{% endif %}
			<div class="text">
				<h2>Members Module</h2>
				<p>The Members Module functions as a layer on top the core <a href="/admin/users" alt="Users Module">Users Module</a> and is not intended to replace it. It functions to store/monitor which users are active in which years and as an exporter for the information that the UCSA requires the Club to provide upon registration each year.</p>
			</div>

			<div class="text">
				<h2>{{ "now"|date("Y") }} Sign-Ups by Month</h2>
				{% include "finnito.module.members::partials/currentYearSignups" %}
			</div>

			<div class="text">
				<h2>Sign-Ups by Year</h2>
				<canvas id="yearlySignups" width="100" height="30"></canvas>
			</div>

			<div class="text">
				<h2>Sign-Ups by Year & Month</h2>
				<canvas id="signups" width="100" height="30"></canvas>
			</div>


			{% set monthlySignups = entries("members", "active_members")
				.monthlySignups() %}

			{% set yearlySignups = entries("members", "active_members")
				.yearlySignups() %}

			{% set years = range(1993, "now"|date("Y")) %}

			{% set months = [
				"January",
				"February",
				"March",
				"April",
				"May",
				"June",
				"July",
				"August",
				"September",
				"October",
				"November",
				"December"
			] %}

			{% set colours = [
				"#FFC312",
				"#C4E538",
				"#12CBC4",
				"#FDA7DF",
				"#ED4C67",
				"#F79F1F",
				"#A3CB38",
				"#1289A7",
				"#D980FA",
				"#B53471",
				"#EE5A24",
				"#009432",
				"#0652DD",
				"#9980FA",
				"#833471",
				"#EA2027",
				"#006266",
				"#1B1464",
				"#5758BB",
				"#6F1E51",

				"#FFC312",
				"#C4E538",
				"#12CBC4",
				"#FDA7DF",
				"#ED4C67",
				"#F79F1F",
				"#A3CB38",
				"#1289A7",
				"#D980FA",
				"#B53471",
				"#EE5A24",
				"#009432",
				"#0652DD",
				"#9980FA",
				"#833471",
				"#EA2027",
				"#006266",
				"#1B1464",
				"#5758BB",
				"#6F1E51",
			] %}

			<script>
			// Load montly signups by year
			var loadSignupStatistics = function() {
				var ctx = document.getElementById("signups").getContext('2d');
				var myChart = new Chart(ctx, {
					type: 'bar',
					data: {
						labels: [
							{% for month in months %}"{{ month }}"{% if not loop.last %},{% endif %}{% endfor %}
						],
						datasets: [
						{% for year in years %}
							{
								label: "{{ year }}",
								data: [
									{% for month in months %}
										{% if monthlySignups[year~month] %}
											{{ monthlySignups[year~month].numSignups }}
										{% else %}
											{{ 0 }}
										{% endif %}

										{% if not loop.last %}
											,
										{% endif %}
									{% endfor %}
								],
								backgroundColor: "{{ colours[loop.index] }}",
								borderColor: "{{ colours[loop.index] }}",
								borderWidth: 3,
							}
							{% if not loop.last %}
								,
							{% endif %}
						{% endfor %}
						]
					},
					options: {
						scales: {
							yAxes: [{
								ticks: {
									beginAtZero: true
								}
							}]
						}
					}
				});
			}

			var loadYearlySignups = function() {
				var ctx = document.getElementById("yearlySignups").getContext('2d');
				var myChart = new Chart(ctx, {
					type: 'bar',
					data: {
						labels: [
							{% for year in years %}"{{ year }}"{% if not loop.last %},{% endif %}{% endfor %}
						],
						datasets: [
							{
								label: "Yearly Signups",
								data: [
									{% for year in years %}
										{% if yearlySignups[year] %}
											{{ yearlySignups[year].numSignups }}
										{% else %}
											0
										{% endif %}
										{% if not loop.last %},{% endif %}
									{% endfor %}
								],
								backgroundColor: "{{ colours[1] }}",
								borderColor: "{{ colours[1] }}",
								borderWidth: 3,
							}
						]
					},
					options: {
						scales: {
							yAxes: [{
								ticks: {
									beginAtZero: true
								}
							}]
						}
					}
				});
			}

			window.addEventListener("load", function() {
				loadSignupStatistics();
				loadYearlySignups();
			});
			</script>

			<div class="text">
				<h2>Recent Sign-Ups</h2>
				<p>Use this small table to see the 10 latest sign-ups if you need to confirm that someone did indeed sign-up.</p>
			</div>
			{% set latest = entries("members", "active_members")
				.orderBy("active_at")
				.limit(10)
				.get() %}
			<div class="table-stack">
				<table class="table">
					<thead>
						<th>Display Name</th>
						<th>Active Years</th>
						<th>Sign-Up Date</th>
					</thead>
					<tbody>
						{% for member in latest %}
							<tr>
								<td>{{ member.user.display_name }}</td>
								<td>{{ member.activeYears }}</td>
								<td>{{ member.active_at.date }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
