{# {% extends layout("default") %} #}

{% block content %}

{% set years = entries("members", "active_members")
    .where("user_id", user.id)
    .orderBy("year", "DESC")
    .get(["year"])
    %}
{% set currentlyActive = entries("members", "active_members")
    .where("user_id", user.id)
    .where("year", "now"|date("Y"))
    .first()
    %}

<div class="slim center">
    <h1>Edit Profile</h1>
    {{ form.open()|raw }}
    <div class="grid">
        <div class="row">
            <div class="column">
                <h2>Basic Information</h2>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <fieldset>
                {{ form.fields.first_name.input|raw }}
                {{ form.fields.last_name.input|raw }}
                {{ form.fields.email.input|raw }}
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <h2>Student</h2>
                <p>The UCSA requires this information for students.</p>
            </div>
            <div class="column short">
                {{ form.fields.student|raw }}
            </div>
        </div>
        <div class="row">
            <div class="column">
                <fieldset>
                    {{ form.fields.student_number.input|raw }}
                    {{ form.fields.student_code.input|raw }}
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <h2>Birthday Dance</h2>
                <p>A UCanDance tradition where the birthday-person has a quick-change dance with every dancer present.</p>
            </div>
            <div class="column short">
                {{ form.fields.birthday_dance|raw }}
            </div>
        </div>
        <div class="row">
            <div class="column">
                <fieldset>
                    {{ form.fields.birthday|raw }}
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="column">
                {{ form.actions|raw }}
            </div>
        </div>
    </div>
    {{ form.close()|raw }}
</div>

{{ asset_add("scripts.js", "finnito.module.members::js/jquery.min.js") }}
{% for script in asset_scripts("scripts.js") %}
    {{ script|raw }}
{% endfor %}

{% endblock %}