{% extends layout('heroless') %}

{% block content %}

<div class="slim center">

    {# JOIN CURRENT YEAR #}
    {% if not user.isSignedUp %}
        <div class="signup">
            <div class="grid box bg-light-grey">
                <div class="row bg-green">
                    <div class="column">
                        <h2>Sign up for {{ "now"|date("Y") }}!</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <a href="/profile/join" class="btn btn-success">
                            Join!
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="grid compact">
        {# EDIT PROFILE #}
        <div class="row">
            <div class="column">
                <h1>Your Profile</h1>
            </div>
            <div class="column small">
                <a href="/profile/edit" title="Edit Profile" class="button bg-orange">
                    Edit
                </a>
            </div>
        </div>
    </div>

    <div class="grid compact">
        {# NAME #}
        <div class="row">
            <div class="column">
                <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            </div>
        </div>

        {# EMAIL #}
        <div class="row">
            <div class="column">
                <p class="bold">
                    Email
                </p>
            </div>
            <div class="column small">
                <p>
                    {{ user.email }}
                </p>
            </div>
        </div>

        {# CURRENT STATUS #}
        <div class="row">
            <div class="column">
                <p class="bold">
                    {{ "now"|date("Y")}} Status
                </p>
            </div>
            <div class="column small">
                {% if not user.isSignedUp %}
                <p class="tag warning">Inactive</p>
                {% else %}
                <p class="tag success">Active</p>
                {% endif %}
            </div>
        </div>

        {# NEWSLETTER #}
        <div class="row">
            <div class="column">
                <p>Newsletter</p>
            </div>
            <div class="column small">
                {% if user.newsletter.isTrue() %}
                    <a href="/profile/updateSubscription" class="button bg-red">Unsubscribe</a>
                {% else %}
                    <a href="/profile/updateSubscription" class="button bg-green">Subscribe</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="grid compact">
        {# ACTIVE YEARS #}
        <div class="row">
            <div class="column">
                <h2>Active Years</h2>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p class="active-years">{{ user.activeYears }}</p>
            </div>
        </div>
    </div>

    <div class="grid compact">
        {# STUDENT #}
        <div class="row">
            <div class="column">
                <h2>Student</h2>
            </div>
            <div class="column small">
                <p class="tag info">{{ user.student.text }}</p>
            </div>
        </div>
        {% if user.student.isTrue %}
        <div class="row">
            <div class="column">
                <p class="bold">Student Number</p>
            </div>
            <div class="column small">
                <p>{{ user.student_number }}</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p class="bold">Student Code</p>
            </div>
            <div class="column small">
                <p>{{ user.student_code }}</p>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="grid compact">
        {# BIRTHDAY DANCE #}
        <div class="row">
            <div class="column">
                <h2>Birthday Dance</h2>
                <p>A UCanDance tradition where the birthday-person has a quick-change dance with every dancer present.</p>
            </div>
            <div class="column small">
                <p class="tag info">{{ user.birthday_dance.text }}</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p class="bold">Birthday</p>
            </div>
            <div class="column small">
                <p>{{ user.birthday.date }}</p>
            </div>
        </div>
    </div>

    {# <div class="grid compact">
        <div class="row">
            <div class="column">
                <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p class="bold">
                    {{ "now"|date("Y")}} Status
                </p>
            </div>
            <div class="column small">
                {% if currentlyActive|length == 0 %}
                <p>Inactive</p>
                {% else %}
                <p>Active</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="column">
                {% if user.newsletter.isTrue() %}
                    <p class="bold">Newsletter</p>
                    <p class="italic">Subscribed</p>
                {% else %}
                    <p class="bold">Newsletter</p>
                    <p class="italic">Unsubscribed</p>
                {% endif %}
            </div>
            <div class="column small">
                {% if user.newsletter.isTrue() %}
                    <a href="/profile/updateSubscription" class="button bg-red">Unsubscribe</a>
                {% else %}
                    <a href="/profile/updateSubscription" class="button bg-green">Subscribe</a>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="column">
                {{ user.activeYears() }}
                <h2>Active Years</h2>
                <p class="active-years">
                {% for year in years %}
                    {{ year.year }}
                    {% if not loop.last %}, {% endif %}
                {% endfor %}
                </p>
            </div>
        </div>
    </div> #}
    {# <div class="grid compact">
        <div class="row">
            <div class="column">
                <h1>Your Profile</h1>
            </div>
            <div class="column small">
                <a href="/profile/edit" title="Edit Profile" class="button bg-orange">
                    Edit
                </a>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p class="bold">
                    Email
                </p>
            </div>
            <div class="column small">
                <p>
                    {{ user.email }}
                </p>
            </div>
        </div>
    </div> #}
    {# <div class="grid">
        <div class="row">
            <div class="column">
                <h2>Student</h2>
            </div>
            <div class="column small">
                <p>{{ user.student.text }}</p>
            </div>
        </div>
        {% if user.student.isTrue %}
        <div class="row">
            <div class="column">
                <p class="bold">Student Number</p>
            </div>
            <div class="column small">
                <p>{{ user.student_number }}</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p class="bold">Student Code</p>
            </div>
            <div class="column small">
                <p>{{ user.student_code }}</p>
            </div>
        </div>
        {% endif %}
    </div> #}
    {# <div class="grid">
        <div class="row">
            <div class="column">
                <h2>Birthday Dance</h2>
                <p>A UCanDance tradition where the birthday-person has a quick-change dance with every dancer present.</p>
            </div>
            <div class="column small">
                <p>{{ user.birthday_dance.text }}</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p class="bold">Birthday</p>
            </div>
            <div class="column small">
                <p>{{ user.birthday.date }}</p>
            </div>
        </div>
    </div> #}
</div>

{% endblock %}