{% extends layout('admin') %}

{% block content %}
	{{ asset_add("styles.css", "finnito.module.members::css/style.css") }}

	<div class="container-fluid">
		<div class="card">
			{% set toBeDeleted = entries("members", "active_members")
				.membersToBeDeleted()
				.get() %}
			{% if toBeDeleted|length > 0 %}
				<div class="text alert">
					<h2>Members to be Deleted</h2>
					<p>The Members Module has detected that some inactive members need to be removed in-line with the Privacy Policy.</p>
					<div class="flex-row divided">
						<div>
							<p>Cutoff Date</p>
							<p>{{ toBeDeleted[0].cutoff }}
						</div>
						<div>
							<p># to be Deleted</p>
							<p>{{ toBeDeleted|length }}
						</div>
						{# <div>
							<a href="/admin/members/deleteOldMembers" class="btn btn-success" title="Delete Old Members"/>
								Delete
							</a>
						</div> #}
					</div>
				</div>
			{% endif %}

			<div class="text">
				<h2>Summary of Deletions</h2>
				<p>Please verify these data before proceeding with the deletion.<br>Personal information is not shown.</p>
			</div>
			<div class="table-stack">
				<table class="table">
					<thead>
						<th>User ID</th>
						<th>Last Active</th>
						<th>Cutoff</th>
					</thead>
					<tbody>
						{% for member in toBeDeleted %}
							<tr>
								<td>{{ member.user_id }}</td>
								<td>{{ member.lastActive|date("Y-m-d") }}</td>
								<td>{{ member.cutoff }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="text flex-row">
				<h2>Point of no Return</h2>
				<a href="/admin/members/deleteOldMembers/confirm" class="btn btn-success" title="Delete Old Members"/>
					Confirm Deletions
				</a>
			</div>
		</div>
	</div>
{% endblock %}
