{% extends layout('grad') %}

{% block content %}
	{% set form = form("forgot_password")
		.redirect(request_get("redirect", "/"))
		.get() %}
    {{ form.open()|raw }}
    <div class="grid">
    	<div class="row">
    		<div class="column">
    			<h1>Forgot Password</h1>
    		</div>
    	</div>
    	<div class="row">
    		<div class="column">
                <fieldset>
                    {{ form.fields.email.setPlaceholder("Email").input|raw }}
                </fieldset>
    		</div>
    	</div>
    	<div class="row">
    		<div class="column">
    			{{ form.actions|raw }}
    		</div>
    	</div>
    </div>
    {{ form.close()|raw }}
{% endblock %}
