{% extends layout('grad') %}

{% block content %}
	{% set form = form("reset_password")
		.get() %}
	{{ form.open()|raw }}
    <div class="grid">
    	<div class="row">
    		<div class="column">
    			<h1>Reset Password</h1>
    		</div>
    	</div>
    	<div class="row">
    		<div class="column">
                <fieldset>
    			    {{ form.fields.email.setPlaceholder("Email").input|raw }}
                    {{ form.fields.code.setPlaceholder("Reset Code").input|raw }}
                    {{ form.fields.password.setPlaceholder("New Password").input|raw }}
                    {{ form.fields.password_confirmation.setPlaceholder("Confirm Password").input|raw }}
                </fieldset>
    		</div>
    	</div>
    	{# <div class="row">
    		<div class="column">
    			{{ form.fields.code.setPlaceholder("Reset Code").input|raw }}
    		</div>
    	</div>
    	<div class="row">
    		<div class="column">
    			{{ form.fields.password.setPlaceholder("New Password").input|raw }}
    		</div>
    	</div> #}
    	{# <div class="row">
    		<div class="column">
    			{{ form.fields.password_confirmation.setPlaceholder("Confirm Password").input|raw }}
    		</div>
    	</div> #}
    	<div class="row">
    		<div class="column">
    			{{ form.actions|raw }}
    		</div>
    	</div>
    </div>
    {{ form.close()|raw }}
{% endblock %}
