{% extends layout('admin') %}

{% block content %}
	{{ asset_add("styles.css", "finnito.module.members::css/style.css") }}
	<div class="container-fluid">
		<div class="card">
			<div class="text">
				<div class="flex-row">
					<h2>Members Export</h2>
					<a href="/admin/members/export/preview" title="Export {{ "now"|date('Y') }} Members" class="btn btn-success">
						Export {{ "now"|date("Y") }}
					</a>
				</div>
				<p>The UCSA requires for affiliation that the Club provides a list of all members and their information including full name, email, student number and student code. To download this information for the current year, click below.</p>
			</div>
		</div>
	</div>

{% endblock %}