{% extends layout('admin') %}

{% block content %}
	{{ asset_add("styles.css", "finnito.module.members::css/style.css") }}
	<div class="container-fluid">
		<div class="card">
			<div class="text">
				<div class="flex-row">
					<h2>Export Preview</h2>
					<a href="/admin/members/export/download" class="btn btn-success" title="Download {{ 'now'|date('Y') }} Members"/>Download</a>
				</div>
				<p>Check that this data looks correct before proceeding with the export.</p>
			</div>
			<div class="table-stack">
				<table class="table">
					<thead>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
						<th>Student Number</th>
						<th>Student Code</th>
					</thead>
					<tbody>
						{% for member in members %}
							<tr>
								<td>{{ member.first_name }}</td>
								<td>{{ member.last_name }}</td>
								<td>{{ member.email }}</td>
								<td>{{ member.student_number }}</td>
								<td>{{ member.student_code }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

{% endblock %}